.profileImage{
    display: none;
}

.custom-file-upload{
    border: 1px solid lightgrey;
    width:100%;
    padding:0.5rem;
    border-top:0;
    border-left:0;
    border-right:0;
    display: flex;
}

.dropdown-style{
    border:none;
    appearance: none;
    background-color:white; 
    padding:0.5rem;
    color:grey;
    border-bottom:1px solid lightgrey;
    background-image:url('../../utils/icons/down.png');
    background-size:1rem 1rem;
    background-repeat:no-repeat;
    background-position-x: 98%;
    background-position-y: center;
}

#profilePlaceholder{
    padding-left:0.2rem;
    color:grey;
    font-weight: 400;
}

#uploadIcon{
    color:grey;
    padding:0.1rem;
    margin-left:auto;
}

#profileImage{
    width:4rem;
    height:4rem;
    background-color:white;
    border-radius: 4rem;
}

