.btn{
    max-width:431px;
    width:100%;
    background-color: #000000;
    border-radius:4px;
}

.buttonContain{
    width:100%;
}

@media screen and (max-width:1010px){
    .btn{
        max-width:100%;
    }
}