
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
}

h4{
    display: flex;
    justify-content: center;
    margin-top:5rem;
    padding:2rem;
    letter-spacing: 0.15rem;
    align-items: center;
}

.experienceIcon{
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

strong{
    font-weight: 550;
}

@media screen and (max-width:1024px){
    h4{
        font-size:1.2rem;
    }
    .experienceIcon{
        transform: scale(0.9);
        padding: 6px;
    }
   
}

@media screen and (max-width:768px){
    h4{
        font-size:1.1rem;
        padding:15px;
    }
    .experienceIcon{
        transform: scale(0.8);
        padding:5px;
    }
}

@media screen and (max-width:576px){
    h4{
        font-size:1.0rem;
        padding:10px;
    }
    .experienceIcon{
        transform: scale(0.75);
        padding:4px;
    }
}
@media screen and (max-width:400px){
    h4{
        font-size:0.9rem;
        padding:10px;
    }
    .experienceIcon{
        transform: scale(0.7);
        padding:2px;
    }
}