.footer{
    display: flex;
    flex-wrap: wrap;
}


.list{
    list-style: none;
    margin:5px;
    padding:15px;
}

.links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.SubscribeContain{
    margin:10px 50px;
}

.align{
    display: flex;
}
