.footer{
    display: flex;
    border-top:1px solid lightgrey;
    padding:2rem;
    padding-bottom:0.5rem;
    margin-top:80px;
}
 
.subscribe{
    display:flex;
    width:100%;
}
.element-width{
    width:90%;
}
.copyright{
    padding:2rem;
    padding-top:0;
    width:60%;
}
.text{
    border-top:1px solid lightgrey;
}


.heading-adjust{
    padding-bottom:1.5rem;
}
.currency{
    margin-left:1rem;
}

.list{
    list-style: none;
    margin:5px;
    padding:15px;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.container-fluid{
    flex-wrap:nowrap;
    padding-right:0;
}
.links{
    width:100%;
    display: flex;
    flex-direction: row;
}

.SubscribeContain{
    margin:1rem 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.subInput{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:1010px){
.SubscribeContain{
    width:50%;
}
.links{
    width:100%;
}


}

@media screen and (max-width:1200px){
    .links{
        width:100%;
        flex-wrap:wrap;
    }
    .SubscribeContain{
        margin:0 auto;
        width:80%;
    }
    .footer{
        flex-wrap: wrap;
    }
    .copyright{
        padding:1rem;
        width:100%;
    }
    .heading-adjust{
        padding-bottom:0.1rem;
    }
}

h6{
    font-weight:550;
}



@media screen and (max-width:992px){
    .list,.text{
        font-size:0.95rem;
    }
    h6{
        font-size:1rem;
    }
    .subscribeHeading{
        font-size:1.0rem;
    }
    .SubscribeContain{
        margin:0 auto;
        width:80%;
    }
    .subscribe-elements-contain{
        display: flex;
        flex-direction: column;
    }
    
}

@media screen and (max-width:768px){
    .list,.text{
        font-size:0.90rem;
    }
    h6{
        font-size: 0.95rem;
    }
    .subscribeHeading{
        font-size:0.8rem;
    }
    .SubscribeContain{
        margin:0 auto;
        width:90%;
        transform: scale(0.90);
    }
}

@media screen and (max-width:576px){
    .list,.text{
        font-size:0.80rem;
    }
    h6{
        font-size: 0.87rem;
    }
    .subscribeHeading{
        font-size:0.90rem;
    }
    .SubscribeContain{
        margin:0 auto;
        width:90%;
        transform: scale(0.85);
    }
    .footer{
        padding:1.5rem;
    }
    .heading-adjust{
        padding-bottom:1.5rem;
    }
}


@media screen and (max-width:400px){
    .list,.text{
        font-size:0.70rem;
    }
    h6{
        font-size: 0.75rem;
    }
    .subscribeHeading{
        font-size:0.80rem;
    }
    .SubscribeContain{
        margin:0 auto;
        width:100%;
    }
    .heading-adjust{
        padding-bottom:1.5rem;
    }
}