.footer{
    display: flex;
    border-top:1px solid lightgrey;
    padding:4rem;
    margin-top:80px;
}


.list{
    list-style: none;
    margin:5px;
    padding:15px;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.container-fluid{
    flex-wrap:nowrap;
}
.links{
    width:100%;
    display: flex;
    flex-direction: row;
}

.SubscribeContain{
    margin:10px 50px;
    display: flex;
    justify-content: center;
}

.subInput{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:1010px){
.SubscribeContain{
    width:50%;
}
.links{
    width:100%;
}
}

@media screen and (max-width:1010px){
    .links{
        width:100%;
        flex-wrap:wrap;
    }
    .SubscribeContain{
        margin:0 auto;
        width:80%;
    }
    .footer{
        flex-wrap: wrap;
    }
}

h6{
    font-weight:550;
}



@media screen and (max-width:992px){
    .list{
        font-size:0.95rem;
    }
    h6{
        font-size:1rem;
    }
    .subscribeHeading{
        font-size:1.0rem;
    }
    .SubscribeContain{
        margin:0 auto;
        width:80%;
    }
    .subscribe-elements-contain{
        display: flex;
        flex-direction: column;
    }
    
}

@media screen and (max-width:768px){
    .list{
        font-size:0.90rem;
    }
    h6{
        font-size: 0.95rem;
    }
    .subscribeHeading{
        font-size:1rem;
    }
    .SubscribeContain{
        margin:0 auto;
        width:80%;
    }
}

@media screen and (max-width:576px){
    .list{
        font-size:0.80rem;
    }
    h6{
        font-size: 0.87rem;
    }
    .subscribeHeading{
        font-size:0.90rem;
    }
    .SubscribeContain{
        margin:0 auto;
        width:80%;
    }
    .footer{
        padding:1.5rem;
    }
}


@media screen and (max-width:400px){
    .list{
        font-size:0.70rem;
    }
    h6{
        font-size: 0.75rem;
    }
    .subscribeHeading{
        font-size:0.80rem;
    }
    .SubscribeContain{
        margin:0 auto;
        width:80%;
    }
}